@media (max-width: 800px) {
	
	#sidebar {
		display: none;
	}
	
	#main {
		/*max-width: 800px;*/
		/*padding: 0px 20px;*/
		margin: auto;
	}
}

.page-margins {
	vertical-align: top;
}

.sidebar {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 190px;
	height: 100%;
	position: fixed;
}

.sidebar-content {
	padding: 20px;
}

.sidebar-category {
	padding-top: 12px;
	font-weight: 700;
}

.sidebar-item {
	cursor: pointer;
}

.sidebar-module {
	font-weight: 500;
	font-size: 14px;
	color: var(--vscode-foreground);
}

.sidebar-bmx {
	font-weight: 400;
	font-size: 13px;
	padding-bottom: 12px;
	color: var(--vscode-foreground);
}

.error {
	color: var(--vscode-inputValidation-errorForeground);
	background: var(--vscode-inputValidation-errorBackground);
	border: solid 1px var(--vscode-inputValidation-errorBorder);
	white-space: pre-wrap;
	display: none;
	/*padding: 1px 4px 4px 4px;*/
}

.headerBtn, .headerBtn:hover, .headerBtn:active {
	cursor: pointer;
	color: var(--vscode-foreground);
	background: var(--vscode-background);
	border: 0px;
	/*padding: 0px;*/
	outline: none;
}

.headerBtn:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: 3px;
}

.expand:after {
	font-weight: bold;
	float: right;
	margin-right: 6px;
	margin-top: -4px;
	content: '\276E';
	transform: rotate(270deg);
	text-decoration: none;
}

.main {
	/* max-width: 800px; */
	margin-left: 220px;
	padding: 0px 20px;
	color: var(--vscode-foreground);
}

.main-content {
	padding-top: 20px;
}

.main-title {
	font-weight: 500;
	font-size: 22px;
	padding-bottom: 8px;
	color: var(--vscode-foreground);
}

.main-info>pre {
	padding-bottom: 30px;
	font-family: inherit;
	font-weight: 400;
	color: var(--vscode-foreground);
	white-space: pre-wrap;
}

.section {
	padding-bottom: 30px;
	/*padding-top: 15px;*/
}

.section-name {
	font-weight: 500;
	font-size: 20px;
	width: 100%;
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	border-style: none;
	border-width: 0px;
	padding: 6px;
	cursor: pointer;
	text-align: left;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.section-name:before {
	color: var(--vscode-button-foreground);	
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 8px;
	float: right;
	padding: 6px;
	text-decoration: none;
}

.active:before {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.section-alts {
	color: var(--vscode-foreground);
	padding: 6px 0px;
}

.section-link {
	font: inherit;
	cursor: pointer;
}

.section-information>pre {
	font-size: 14px;
	font-weight: 500;
	font: inherit;
	color: var(--vscode-foreground);
	padding: 6px 0px;
	white-space: pre-line;
}

.section-about>pre {
	font-size: 14px;
	font-style: italic;
	font: inherit;
	color: var(--vscode-foreground);
	padding: 6px 0px;
	white-space: pre-line;
}


.section-returns>pre {
	font-size: 14px;
	font-style: italic;
	font: inherit;
	color: var(--vscode-foreground);
	padding: 6px 0px;
	white-space: pre-line;
}

.section-source>pre {
	font-size: 12px;
	font-style: italic;
	font: inherit;
	color: var(--vscode-foreground);
	padding: 6px 0px;
	white-space: pre-line;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	/*transition: max-height 0.2s ease-out;*/
	color: var(--vscode-settings-dropdownForeground);
	background-color: var(--vscode-settings-dropdownBackground);
	margin-bottom: 6px;
	border-radius: 0px 0px 3px 3px;
}

.example-link {
	padding-top: 8px;
	padding-bottom: 6px;
}

.example {
	padding: 0px;
}

.example>pre {
	padding: 6px;
	white-space: pre-wrap;
}

.codeblock {
	vertical-align: middle;
	/*padding: 2px 8px;*/
	margin-top: 8px;
	display: inline-block;
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
}

#scrollToTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 6px 8px 9px 9px;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	text-decoration: none;
}

#scrollToTop:hover {
	background-color: #555;
}

pre {
	margin: 0px;
}

body {
	line-height: 19px
}

body:not(.tabbing) button:focus {
	outline: none;
}

a {
	text-decoration: none
}

checkbox {
	color: var(--vscode-settings-checkboxForeground);
	background: var(--vscode-settings-checkboxForeground);
	border: var(--vscode-settings-checkboxBorder);
}

a:focus, input:focus, select:focus, textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px
}

hr {
	border: 0;
	height: 1px;
	border-bottom: 1px solid;
}

h1 {
	/*padding-bottom: .3em;*/
}

h1, h2, h3 {
	font-weight: 400
}

a:hover {
	text-decoration: underline
}

::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

input {
	height: 17px;
	/*padding: 6px;*/
	border: solid 1px;
	font-size: 13px;
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	color: var(--vscode-settings-textInputForeground);
	background: var(--vscode-settings-textInputBackground);
	border: 1px solid var(--vscode-settings-textInputBorder);
}

textarea {
	white-space: nowrap;
	/*padding: 4px, 4px;*/
	font-size: 13px;
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	color: var(--vscode-settings-textInputForeground);
	background: var(--vscode-settings-textInputBackground);
	border: 1px solid var(--vscode-settings-textInputBorder);
}

button {
	color: var(--vscode-button-foreground);
	background-color: var(--vscode-button-background);
	border: solid 1px var(--vscode-contrastBorder);
	/*padding: 6px 14px;*/
}

button:hover {
	background-color: var(--vscode-button-hoverBackground);
}

button:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: 2px
}

button:active {
	outline: none;
}

table {
	margin: 6px;
	width: 50%;
	color: var(--vscode-settings-dropdownForeground);
	background-color: var(--vscode-settings-dropdownBackground);
	border-width: 0px;
	border-style: solid;
	margin: 0px 0px 0px 8px;
}

.select-default {
	width: 300px;
	height: 27px;
	font-size: 13px;
	font-family: sans-serif;
	color: var(--vscode-settings-dropdownForeground);
	background: var(--vscode-settings-dropdownBackground);
	border: 1px solid var(--vscode-settings-dropdownBorder);
}

.select-editable {
	position: relative;
	background-color: var(--vscode-settings-textInputBackground);
	width: 800px;
	height: 31px;
}

.select-editable select {
	position: absolute;
	font-size: 13px;
	font-family: sans-serif;
	border: 1px solid var(--vscode-settings-textInputBorder);
	height: 31px;
	margin: auto;
	color: var(--vscode-settings-textInputForeground);
	background: var(--vscode-settings-textInputBackground);
}

.select-editable input {
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	height: 17px;
	font-size: 13px;
	border: none;
	color: var(--vscode-settings-textInputForeground);
	background: var(--vscode-settings-textInputBackground);
}

.select-editable input:focus {
	outline-offset: 0px;
}

blockquote {
	margin: 0 7px 0 5px;
	/*padding: 0 16px 0 10px;*/
	border-left: 5px solid;
}

code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	line-height: 19px
}

.mac code {
	line-height: 18px
}

code>div {
	padding: 16px;
	border-radius: 3px;
	overflow: auto;
	font-family: monospace;
	display: block;
    white-space: pre-line;
}

.monaco-tokenized-source {
	white-space: pre
}

/** Theming */

.vscode-light {
	color: #1e1e1e
}

.vscode-dark {
	color: #ddd
}

.vscode-high-contrast {
	color: #fff
}

.vscode-light code {
	color: #a31515
}

.vscode-dark code {
	color: #d7ba7d
}

.vscode-light code>div {
	background-color: rgba(220, 220, 220, .4)
}

.vscode-dark code>div {
	background-color: rgba(10, 10, 10, .4)
}

.vscode-light .input-disabled {
	background-color: rgba(255, 255, 255, 0.4);
	color: rgb(138, 138, 138);
	border: solid 1px rgb(201, 198, 198);
}

.vscode-dark .input-disabled {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(167, 167, 167);
}

.vscode-high-contrast .input-disabled {
	background-color: transparent;
	color: #fff;
	border: solid 1px rgb(255, 255, 255);
}

.vscode-high-contrast code>div {
	background-color: #000
}

.vscode-high-contrast h1 {
	border-color: #000
}

.vscode-light table>thead>tr>th {
	border-color: rgba(0, 0, 0, .69)
}

.vscode-dark table>thead>tr>th {
	border-color: rgba(255, 255, 255, .69)
}

.vscode-light h1, .vscode-light hr, .vscode-light table>tbody>tr+tr>td {
	border-color: rgba(0, 0, 0, .18)
}

.vscode-dark h1, .vscode-dark hr, .vscode-dark table>tbody>tr+tr>td {
	border-color: rgba(255, 255, 255, 0.18)
}

.vscode-light blockquote, .vscode-dark blockquote {
	background: rgba(127, 127, 127, .1);
	border-color: rgba(0, 122, 204, .5)
}

.vscode-high-contrast blockquote {
	background: transparent;
	border-color: #fff
}

.vscode-light div.codeblock {
	background-color: rgba(0, 0, 0, 0.048)
}

.vscode-dark div.codeblock {
	background-color: rgba(255, 255, 255, 0.1)
}

.vscode-high-contrast div.codeblock {
	background-color: rgba(255, 255, 255, 0.15)
}

.footer {
	/*padding: 25px;*/
	text-align: center
}

.vscode-light a {
	color: #4080D0
}

.vscode-dark a {
	color: #a2c1e8
}